.bio {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.bio__image {
  width: 120px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 50%;
}

.bio__name {
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1429;
  grid-area: name;
  margin-top: 0px;
  margin-bottom: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: auto;
}
.bio__info {
  display: grid;
  grid-template-areas:
    "name edit"
    "description .";
  grid-template-columns: 3fr 0.1fr;
  grid-template-rows: 1fr 1fr;
  align-content: center;
  grid-gap: 0px 18px;
  margin-left: 30px;
}
.bio__description {
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  grid-area: description;
  padding-top: 0px;
  margin-bottom: 0px;
  margin-top: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.bio__edit-button {
  background: transparent url("../images/edit-button.svg") no-repeat;
  width: 24px;
  height: 24px;
  border: 0px;
  grid-area: edit;
  align-self: center;
  margin-top: 0px;
  padding-top: 0px;
  border: 1px solid white;
  background-position: center;
}
.bio__add-button {
  width: 150px;
  height: 50px;
  background: none;
  border: 2px solid white;
  align-self: center;
  background: transparent url("../images/add-button.svg") no-repeat;
  background-position: center;
  margin-left: auto;
  border-radius: 2px;
}
.bio__add-button:hover,
.bio__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media screen and (max-width: 848px) {
  .bio__name {
    font-size: 30px;
  }
}
@media screen and (max-width: 686px) {
  .bio__name {
    font-size: 26px;
  }
}
@media screen and (max-width: 646px) {
  .bio__name {
    font-size: 20px;
  }
}

@media screen and (max-width: 570px) {
  .bio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bio__info {
    grid-template-rows: none;
  }
  .bio__image {
    margin-bottom: 30px;
  }

  .bio__name {
    max-width: 196px;
    height: 22px;
    flex-shrink: 0;
    color: #fff;
    text-align: center;
    font-size: 22px;
    line-height: normal;
    margin-bottom: 14px;
  }
  .bio__add-button {
    width: 282px;
    align-self: center;
    margin-left: 0;
    margin-right: 0;
  }
  .bio__description {
    margin-bottom: 36px;
    margin-top: 0px;
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  .bio__name {
    max-width: 196px;
  }
  .bio__description {
    max-width: 282px;
    text-align: center;
    margin-top: 0px;
    font-size: 14px;
  }

  .bio__add-button {
    background-size: 16px;
  }
  .bio__edit-button {
    align-self: normal;
    background-size: 7.5px;
    width: 18px;
    height: 18px;
  }
}
