.bio {
  margin-top: 40px;

  display: flex;
}

.bio__image {
  width: 168.75px;
  height: 127.5px;
  flex-shrink: 0;
  border-radius: 50%;
  margin-left: 22.5px;
  margin-right: 22.5px;
  margin-top: 3.75px;
  margin-bottom: 3.75px;
}

.bio__name {
  color: #fff;
  font-family: Inter;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  grid-area: name;
  margin-bottom: 0px;
}
.bio__info {
  display: grid;
  grid-template-areas:
    "name edit"
    "description .";

  grid-template-columns: 3fr 0.1fr;
  grid-template-rows: 1fr 1fr;
  align-content: center;
  grid-gap: 0px 18px;
  margin-left: 18px;
}
.bio_description {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  grid-area: description;
  padding-top: 0px;
  margin-bottom: 0px;
  margin-top: 7px;
}
.bio__edit-button {
  background: url("/images/edit-button.svg") no-repeat;
  width: 24px;
  height: 24px;
  border: 0px;
  grid-area: edit;
  align-self: center;
  margin-top: 0px;
  padding-top: 0px;
}
.bio__add-button {
  width: 150px;
  height: 50px;
  background: none;
  border: 0px;
  align-self: center;
  background: url("/images/add-button.png") no-repeat;
  margin-left: auto;
}

@media screen and (max-width: 320px) {
  .bio {
    flex-direction: column;
  }
  .bio__image {
    width: 168.75px;
    height: 127.5px;
    align-self: center;
  }
  .bio__name {
    width: 196px;
    height: 22px;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .bio__add-button {
    width: 25%;
    height: 50px;
    background-position: center;
  }
  .bio_description {
    text-align: center;
    margin-top: 0px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
  }
}
