.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  max-height: 742px;
  grid-gap: 17px;
  padding: 0px;
  justify-content: center;
}
.card {
  width: 282px;
  height: 361px;

  border-radius: 10px;
  background: #fff;
}
.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
}
.card__location {
  max-width: 221px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px;

  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 15px 21px 31px;
}

.card__heart-icon {
  background: url("/images/heart-icon.svg");
  width: 21px;
  height: 18px;
  border: 0px none;
}
.card__heart-icon:hover {
  opacity: 0.6;
}
@media screen and (max-width: 320px) {
  .card {
    width: 282px;
    height: 361px;
  }
}
