.card {
  border-radius: 10px;
  background: #fff;
  position: relative;
}
.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
}
.card__location {
  max-width: 221px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px;
  color: #000;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 20px;
}

.card__heart-icon {
  background: transparent url("../images/heart-icon.svg") no-repeat;
  width: 21px;
  height: 18px;
  border: 0px none;
}

.card__heart-icon:hover {
  opacity: 0.5;
  cursor: pointer;
}
.card__heart-icon_active {
  background: transparent url("../images/active-like.png") no-repeat;
}
.card__trash-icon {
  background: transparent url("../images/Trash.svg") no-repeat;
  width: 18px;
  height: 19.3px;
  position: absolute;
  top: 18px;
  left: 249px;
  border: none;
}
