.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  max-height: 742px;
  grid-gap: 17px;
  padding: 0px;
  justify-content: center;
}
.card {
  width: 282px;
  height: 361px;
  border-radius: 10px;
  background: #fff;
}
.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
}
.card__location {
  margin-left: 25px;
  display: inline;
  margin-right: 0px;
  margin-top: 25px;
}
.card__heart-icon {
  background: url("/images/heart-icon.svg");
  width: 21px;
  height: 18px;
  border: 0px none;
  margin-right: 30px;
  margin-top: 25px;
}
.card__heart-icon:hover {
  opacity: 0.6;
}
