.page {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 45px;
  padding: 0px;
}
.page__content {
  max-width: 880px;
}

body {
  background-color: #000;
}
