.page {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 0px;
  background-color: #000;
}
.page__content {
  max-width: 880px;
  margin: 0 auto;
  padding: 0px 10px;
}

@media screen and (max-width: 320px) {
  .page {
    margin: auto 0;
  }
  .page__content {
    margin-left: 0;
    margin-right: 0;
    padding: 0px;
  }
}
